<div id="EventsIndex" ng-controller="app.views.schemes.index as vm">
    <h2>
        <span>Schemes</span>
        <a href="#/schemes/newScheme" class="btn btn-primary btn-sm" title="Add new scheme"><i class="fa fa-plus"></i> New Scheme</a>
        @*<span class="pull-right event-filters">
            <input type="checkbox" ng-model="vm.filters.includeCanceledEvents" /> @L("ShowCanceledEvents")
        </span>*@
    </h2>
    <hr />
    <div class="row">
        <div ng-repeat="scheme in vm.schemes" class="event-list-item col-md-6">
            <div class="event-body">
                <h3 class="event-title">
                    {{scheme.schemeCode}}
                </h3>
                <p class="event-description">{{scheme.schemeName}}</p>
                <div class="event-canceled-info">{{scheme.schemeMaturityStatus}}</div>
                <div class="event-registration-info">
                    <span ng-if="vm.isBiddingOn(scheme)">
                        Bids are ongoing!
                    </span>
                    <span ng-if="!vm.isBiddingOn(scheme) && scheme.bidOpenDate < vm.currentDate">
                        Bids are Closed!
                    </span>
                    <span ng-if="scheme.subscribedUnits < scheme.totalSchemeUnits">
                        {{scheme.subscribedUnits}} of {{scheme.subscribedUnits}} have been subscribed for.
                    </span>
                </div>
                <div class="event-actions">
                    <a class="btn btn-sm btn-info" ng-href="#/schemes/{{scheme.id}}">Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <span class="event-date"><i class="fa fa-calendar-times-o"></i> {{scheme.creationTime | date :'dd/MM/yyyy'}}</span>
            </div>
        </div>
    </div>
</div>