<div>
    <form name="paymentPeriodCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Create New Period</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Period In Days</label>
                <input class="form-control" autofocus type="number" name="Code" ng-model="vm.paymentPeriod.periodInDays" required />
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="paymentPeriodCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>