<div ng-controller="app.views.paymentPeriod.index as vm">
    <h1>Payment Periods</h1>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openNewPaymetPeriodModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Period</button>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Days</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pp in vm.paymentPeriods">
                        <td>{{pp.id}}</td>
                        <td>{{pp.periodInDays}}</td>
                        <td><a class="btn btn-sm btn-info" ng-href="#/payment-periods/{{pp.id}}">Details <i class="fa fa-arrow-circle-right"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>