<div ng-controller="app.views.banks.index as vm">
    <h1>Banks</h1>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openNewBankModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Bank</button>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bank Code</th>
                        <th>Bank Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bank in vm.banks">
                        <td>{{bank.id}}</td>
                        <td>{{bank.bankCode}}</td>
                        <td>{{bank.bankName}}</td>
                        <td><a class="btn btn-sm btn-info" ng-href="#/banks/{{bank.id}}">Details <i class="fa fa-arrow-circle-right"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>